/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
  
}
.flex {
    display: flex;
    justify-content:space-between;
    flex-grow: 5;
    list-style-type:none;
    padding-right: 500px;
    color: antiquewhite;
}
a {
    color: black;
    text-decoration: none;

}
.link-style{ color: black;

}
a:hover {
    background-color: dimgray;
    padding: 17px;
    color: aliceblue;
}
/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}